.wrapper {
	width: 100%;
	margin-top: 108px;
	color: var(--text-color-white);
}

.info {
	display: flex;
	gap: 32px;
}

.info-left {
	display: flex;
	overflow: hidden;
	border-radius: 36px;
	user-select: none;
}

.info-left__thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 36px;
}

.info-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;
}

.info-right__title {
	color: var(--text-color-400);
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1.5;
	user-select: none;
	margin-bottom: 16px;
}

.info-right__date,
.info-right__artist,
.info-right__like,
.info-right__total,
.info-right__desc {
	color: var(--text-color-100);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	user-select: none;
	margin-bottom: 4px;
}

.info-right__total {
	margin-top: 8px;
}

.active {
	color: var(--text-color-400);
	font-weight: 700;
}

.info-right__artist {
	span {
		display: inline-flex;
	}

	span + span {
		margin-left: 6px;
	}

	a {
		color: var(--text-color-100);
		text-decoration: none;

		&:hover {
			color: var(--text-color-white);
			text-decoration: underline;
		}
	}
}

.info-right__desc {
	display: -webkit-box;
	height: calc(1.6 * 1.5);
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info-right__button {
	display: flex;
	gap: 10px;
	margin-top: 32px;
}

.heart {
	color: var(--bg-primary-50);
	path {
		fill: currentColor;
	}
}

.heart.active {
	color: var(--icon-color-red);
}

.playlist {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 60px;
}
