@use "../../components/GlobalStyles/GlobalStyles.scss" as screen;

.wrapper {
	width: 100%;
	max-width: 100%;
	min-height: 1000px;
	overflow-y: auto;
	display: flex;
	background: var(--bg-primary-500);
}

.logo {
	position: fixed;
	top: 32px;
	left: 16px;
	width: 260px;
	text-align: center;

	@include screen.pc-medium {
		width: 220px;
	}
}

.sidebar {
	height: 100vh;
	min-width: var(--width-sidebar);

	@include screen.mobile {
		display: none;
	}

	@include screen.tablet {
		display: none;
	}

	@include screen.pc-medium {
		min-width: 252px;
	}
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 260px;
	height: 540px;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	top: 108px;
	left: 16px;
	right: 0;
	padding-top: 32px;
	background: var(--bg-primary-600);
	border-radius: 40px;

	@include screen.pc-medium {
		width: 220px;
	}
}

.content {
	width: calc(100% - var(--width-sidebar));
	padding-right: 48px;

	@include screen.mobile {
		width: 100%;
		padding: 0 16px;
	}

	@include screen.tablet {
		width: 100%;
		padding: 0 32px;
	}

	@include screen.pc-medium {
		width: calc(100% - 252px);
		padding-right: 16px;
	}
}
