@use "../../components/GlobalStyles/GlobalStyles.scss" as screen;

.wrapper {
	width: 100%;
	margin-top: 108px;
	color: var(--text-color-white);
}

.info {
	display: flex;
	gap: 32px;

	@include screen.mobile {
		flex-direction: column;
	}

	@include screen.tablet {
		flex-direction: column;
	}

	@include screen.pc-medium {
		flex-direction: column;
	}
}

.info-left {
	overflow: hidden;
	border-radius: 20px;
	max-height: 400px;
}

.info-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.info-right__name {
	color: var(--text-color-400);
	font-size: 3.6rem;
	padding-bottom: 16px;
	user-select: none;
}

.info-right__date,
.info-right__biography,
.info-right__national {
	color: var(--text-color-100);
	font-size: 1.4rem;
	white-space: pre-line;
	line-height: 1.5;
	user-select: none;
}

.info-right__biography {
	margin-top: 6px;
}

.info-right__button {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-top: 16px;
}

.info-right__follow {
	color: var(--text-color-100);
	font-size: 1.4rem;
	user-select: none;
}

.info-right__more {
	color: var(--text-color-400) !important;
	font-weight: 700;
	cursor: pointer;
}

// Modal
.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1080;
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s;
}

.modal.active {
	display: flex;
	opacity: 1;
}

.modal__content {
	width: 480px;
	max-width: 100%;
	max-height: 100%;
	background-color: var(--bg-primary-600);
	border-radius: 8px;

	@include screen.mobile {
		width: 320px;
	}
}

.modal__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	position: relative;
	padding: 24px 24px 0 24px;
}

.modal__avatar {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	overflow: hidden;

	@include screen.mobile {
		width: 90px;
		height: 90px;
	}
}

.modal__title {
	color: var(--text-color-100);
	font-weight: 400;
	font-size: 2.4rem;
}

.modal__close {
	display: flex;
	position: absolute;
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.modal__body {
	padding: 16px 24px 24px 24px;
}

.modal__biography {
	color: var(--text-color-100);
	font-size: 1.4rem;
	font-weight: 400;
	max-height: 200px;
	line-height: 1.5;
	overflow-y: auto;
	white-space: pre-line;
	user-select: none;

	@include screen.mobile {
		max-height: 140px;
	}

	@include screen.tablet {
		max-height: 150px;
	}
}

// Top, Album, MV, Artist
.section {
	display: flex;
	gap: 32px;
}

.section-left {
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
}

.section-left__text,
.section-right__text,
.section-right__all {
	color: var(--text-color-100);
	font-size: 2.4rem;
	font-weight: 700;
	margin: 36px 0 20px 0;
}

.section-left__body {
	display: flex;
	flex: 1;
	gap: 16px;
	padding: 16px;
	background-color: var(--bg-primary-200);
	border-radius: 16px;
}

.section-left__thumbail {
	flex-basis: 35%;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	position: relative;
	overflow: hidden;

	&:hover {
		img {
			transform: scale(1.1) translateZ(0);
		}

		.overlay {
			opacity: 1;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		transition: transform 0.7s;
	}
}

.section-left__info {
	flex-basis: 55%;
	user-select: none;
}

.section-left__type,
.section-right__date {
	color: var(--text-color-100);
	font-weight: 400;
	font-size: 1.4rem;
	padding: 8px 0;
	display: flex;
}

.section-left__box {
	color: var(--text-color-100);
	font-weight: 400;
	line-height: 1.5;
}

.section-left__title {
	font-size: 1.6rem;
}

.section-left__artists {
	font-size: 1.4rem;
}

.section-right {
	flex-basis: 60%;
	display: flex;
	flex-direction: column;
}

.section-right.full {
	flex-basis: 100%;
}

.section-right__header {
	display: flex;
	justify-content: space-between;
}

.section-right__all {
	font-size: 1.8rem;
	font-weight: 700;
	text-decoration: none;
}

.section-right__body {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 12px;
}
