.wrapper {
	width: calc(100% - var(--width-sidebar));
	position: fixed;
	padding: 32px 48px 16px 0;
	background-color: var(--bg-primary-500);
	backdrop-filter: blur(15px);
	z-index: 999;

	.search {
		width: 440px;
		position: relative;

		input {
			width: 100%;
			outline: none;
			border: none;
			font-size: 1.4rem;
			font-weight: 400;
			color: var(--text-color-100);
			padding: 16px 32px;
			border-radius: 999px;
			background-color: var(--bg-primary-600);
		}

		input::placeholder {
			font-size: 1.4rem;
			color: var(--text-color-300);
		}

		input:not(:placeholder-shown) ~ .box .icon {
			filter: drop-shadow(0px 0px 10px #facd66);
			path {
				fill-opacity: 1;
			}
		}
	}

	.box {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		gap: 16px;
		align-items: center;

		.line {
			width: 1px;
			height: 20px;
			background-color: var(--text-color-300);
		}

		.icon {
			cursor: pointer;
		}

		.close {
			cursor: pointer;
		}
	}
}
