.wrapper {
	width: 100%;
	height: 100%;
	display: inline-flex;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 20%;
		transition: transform 0.7s;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}

		.overlay {
			opacity: 1;
		}
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: var(--bg-primary-100);
	transition: transform 0.7s;
}
